<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Player Controller" parallel="classes">

    <listeners>
        <listener class-name="listeners.SetupThreadCountListener"/>
    </listeners>

    <test name="API Tests">
        <classes>
            <class name="apiTests.CreatePlayerTests"/>
            <class name="apiTests.DeletePlayerTests"/>
            <class name="apiTests.GetPlayerTests"/>
            <class name="apiTests.UpdatePlayerTests"/>
        </classes>
    </test>
</suite>